body {
  background-color: #000000;
}

h1 {
  color: #FDD017;
  font-family: "Times New Roman";
}

 p {
  color: #FDD017;
  font-family: :Times New Roman";
 }
 
 a {
   color: #FDD017;
  background-color: #000000;
 }
