body {
  text-align: center;
  background-color: #000000;
  color: #FFFFFF;
}

ul {
  list-style-type: none;
}

a:link {
  color: red;
}

a:hover {
  color: yellow;
  background-color: red;
}

a:visited {
  color: gray;
}
