#idfloatleft {
  float: right;
  background: #cccc77;
  font-family: Verdana, sans-serif;
  padding: 20px;
}

.classheadlinedot {
  h1 {
    color: #FF0000;
  }
  border-bottom: 1px dotted #0000FF;
{

#idabsolutegray {
  position: absolute;
  top: 20px;
  right: 40px;
  background: #D3D3D3;
  border-style: solid;
}

.classrelativegreen{
  position: relative;
  left: 15px;
  background: #90EE90;
}

#idfixedgray{
  position: fixed;
  background: #D3D3D3;
  font-style: bold;
  padding: 10px;
}
